doctype html
html(ng-app='Vidzy')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-resource/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/vidzy.js')
  body
    block content
